POSTGRES_USER=documind
POSTGRES_PASSWORD=password
POSTGRES_DB=documind

DATABASE_URL=postgresql://documind:password@localhost:5433/documind

BETTER_AUTH_SECRET=generate-with openssl rand -base64 32 or use a password manager to generate a random string of 32 characters
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app